@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b0d10];
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #161616;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 50px;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #67e8f9;
  color: #09090b;
}
